@model WebApplication1.Models.Order

@{
    ViewData["Title"] = "My Order";
    
}

<div class="justify-content-between">
    <div class="justify-content-between">
        <h1>My Order #@Html.DisplayFor(Model => Model.Id) Detail</h1>
        @if (Model.Invoice != null)
        {
        <form asp-controller="Invoice" asp-action="MyInvoiceDetails"
              asp-route-id="@Model.Invoice.Id">
            <button  class="btn btn-primary mb-2">Show Invoice</button>
        </form>
        }
    </div>
</div>
<div>
    <hr />
    <dl class="row">
        <h4>Products</h4>
        <div class="product-grid">
            @foreach (var item in Model.OrderItems)
            {
                <div class="product-card">
                    <div class="product-image">
                        <img src="@Html.DisplayFor(modelItem => item.Image)" alt="@Html.DisplayFor(modelItem => item.Name)">
                    </div>
                    <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                    <div class="row text-center">
                        <div class="col">
                            <p class="strong">Quantity</p>
                            <div class="rounded-circle bg-primary text-white p-2 mb-2 mx-auto">
                                @Html.DisplayFor(m => item.Quantity)
                            </div>
                        </div>

                        <div class="col">
                            <p class="strong">Unit Price</p>
                            <p>@Html.DisplayFor(m => item.UnitGrossCurrency)</p>
                        </div>

                        <div class="col">
                            <p class="strong">Total Price</p>
                            <p>@Html.DisplayFor(m => item.TotalGrossCurrency)</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </dl>
    <form asp-controller="Order" asp-action="MyOrders">
        <button type="submit" class="btn btn-primary mb-2">My Orders</button>
    </form>
</div>